* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
    height: 100px;
}

main {
    background-color: white;
    width: 70%;
    margin: 30px auto;
}